<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

    <xacro:property name="R_lidar"          value="0.03" />
    <xacro:property name="W_lidar"          value="0.01" />



    <link name="laser_link">
        <visual>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <mesh filename="file://$(find my_robot_description)/meshes/doomba_lidar.dae"/>
            </geometry>
            <material name="black"/>
        </visual>
   
        <collision>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <cylinder radius="${R_lidar}" length="${W_lidar}"/>
            </geometry>
        </collision>
  
        <inertial>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <mass value="0.1"/>
            <inertia ixx="0.0001866667" ixy="0" ixz="0" iyy="0.0001866667" iyz="0" izz="0.00036"/>
        </inertial>
    </link>

    <joint name="laser_joint" type="fixed">
        <parent link="base_link"/>
        <child  link="laser_link"/>
        <origin xyz="0.08 0 0.035" rpy="0 0 0"/>
    </joint>

    <gazebo reference="laser_link">
        <sensor name='laser' type='gpu_lidar'>"
            <pose> 0 0 0 0 0 0 </pose>
            <topic>scan</topic>
            <update_rate>10</update_rate>
            <gz_frame_id>laser_link</gz_frame_id>
            <lidar>
                <scan>
                    <horizontal>
                        <samples>360</samples>
                        <resolution>1</resolution>
                        <min_angle>-${pi}</min_angle>
                        <max_angle>${pi}</max_angle>
                    </horizontal>
                </scan>
                <range>
                    <min>0.08</min>
                    <max>10.0</max>
                    <resolution>0.01</resolution>
                </range>
            </lidar>
            <always_on>1</always_on>
            <visualize>true</visualize>
        </sensor>
    </gazebo>
    
</robot>

<gazebo reference="body_link">
      <neutrally_buoyant>1</neutrally_buoyant>
      <volume>${auv_volume}</volume>
      <box>
        <width>${auv_width}</width>
        <length>${auv_length}</length>
        <height>${auv_height}</height>
      </box>
      <center_of_buoyancy>${auv_cob}</center_of_buoyancy>
    </gazebo>



  <gazebo reference="thruster_link">
    <selfCollide>false</selfCollide>
  </gazebo>
  
      <graded_buoyancy>
      <default_density>1000</default_density>
      <density_change>
        <above_depth>0</above_depth>
        <density>1</density>
      </density_change>
    </graded_buoyancy>

       <plugin
            filename="gz-sim-thruster-system"
            name="gz::sim::systems::Thruster">
            <namespace>my_lrauv</namespace>
            <use_angvel_cmd>0</use_angvel_cmd>
            <joint_name>thrust_joint</joint_name>
            <thrust_coefficient>0.004422</thrust_coefficient>
            <fluid_density>1000</fluid_density>
            <propeller_diameter>0.3</propeller_diameter>
        </plugin>
